header {
  width: 100%;
  background-color: lightblue;
}

h2 {
  text-align: left;
}

ul {
  text-align: right;
  color: #ffffff;
}

li {
  display: inline; /*added inline to make sure the elements
  are next to eachother (only necessary space) */
  list-style-type: none;
  font-size: 40px;
}

img {
  display: block; /* changed from inline to block (?)
  takes up entire width, without any space for other 
  elements */
  margin: 0 auto;
}

#item-1 {
  background-color: #e0115f;
}

#item-2 {
  background-color: #0000ff;
}

#item-3 {
  background-color: #999900; 
} 

#image-3 {
  display: Block; /* block3: changed from none to block
  so that the block is visible */ 
}
