/* universal selector: one of the least specific selectors. Sets whole page to have
font family */
* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }

/* element selector: allows us to apply same font size to all paragraphs or 
set height and width of a section. */
body {
  background-color: lemonchiffon;
}

header,
footer {
  width: 100%;
  height: 100px;
  line-height: 100px;
  color: #f0ead6;
  background-color: #191970;
}

figure {
  width: 200px;
  background-color: #f0ead6;
}

/* class selector: changes attributes of a specific class */
.highlighted-text {
  font-weight: bolder;
}

/* id selector: applies style to a specific element. */
#contact-section {
  background-color: #f0ead6;
}
