* {
    box-sizing: border-box;
  }

body {
    color: white;
    background-color: #333940;
    line-height: 1.25;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

main {
    /* max-width: 940px; */
    background-color: #333940;
    color: #E867ED;
}

.card-column {
    flex: 0 0 100%;
    border-color: white;
    border-style: dotted;
    border-width: 2px;
    padding: 10px;
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
}

.code-block {
    color: white;
    border-radius: 25px;
    background: #6B4775;
    padding: 20px;
    width: 300px;
    height: 300px;
}

@media screen and (max-width: 768px) {
    card-column {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

@media screen and (max-width: 992px) {
    card-column {
      flex: 0 0 33.3%;
      max-width: 33.3%;
    }
  }